<nav class="navbar navbar-dark bg-custom navbar-expand-lg">

  <div class="container-fluid">
    <div class="row w-100">


      <div class="toolbar" role="banner">

        <fa-icon style='color:red; font-size: 32px;' [icon]="['fab', 'monero']"></fa-icon>
        <span>MediaNet</span>
      </div>

      <div class="col-10 container-fluid px-2">
        <div class=" navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarTogglerDemo03">
          <ul class="navbar-nav mt-2 mt-lg-0 ">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/home" (click)="isShown = false">Home</a>
            </li>
            <li *ngIf="currentUser" class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/gallery" (click)="isShown = false">Gallery</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="/about" (click)="isShown = false">About</a>
            </li>



            <li *ngIf="currentUser" class="nav-item ">
              <div class="spacer">

                <a class="nav-link active">
                  <fa-icon style='color:red;' [icon]="['fas', 'user']"></fa-icon> {{currentUser.userName}}
                </a>
              </div>
            </li>



          </ul>
        </div>
      </div>
    </div>
  </div>



  <div *ngIf="!currentUser">
    <a routerLink="/login" class="btn btn-danger btn-sm right">Login</a>
  </div>
  <div *ngIf="currentUser">
    <a class="active spacer"> {{currentUser.userName}}</a>
  </div>



  <div *ngIf="currentUser">
    <a class="btn btn-danger active btn-sm right" (click)="logout()">Logout</a>
  </div>

</nav>