.bg-custom {
  background-color: #23272b;
}
li {
  margin-right: 40px;
}

.right {
  cursor: pointer;
}

.spacer {
  position: absolute;
  margin-left: 640px;
}

.toolbar {
  height: 50px;
  margin: -8px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}
