<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="container" style="border-right: solid lightgray 1px;">
                <h2 class="headings">ABOUT MEDIANET</h2>
                <br>
                <p class="intro">MediaNet is the world leader in online news and information and seeks to inform,
                    engage and empower the world. Staffed 24 hours, seven days a week by a dedicated
                    team in MediaNet bureaus around the world, MediaNet's digital platforms deliver news
                    from almost 4,000 journalists in every corner of the globe.</p>

                <h5 class="headings">MediaNet DIGITAL MISSION:</h5>
                <h5 class="headings">To Inform, Engage and Empower the World</h5>
                <br>
                <p>We are truth-seekers and storytellers.</p>
                <p>We are journalists, designers and technologists, united by a mission to inform, engage and empower
                    the world.</p>
                <p>We bear witness to history as it unfolds and explain not just what happened, but why, and what it
                    means to you.</p>
                <p>Our products and platforms take you to the farthest corners of the world, and they bring the world to
                    you,
                    delivering content and services that enrich your lives, your families and your communities.</p>
                <p>We are available on more screens in more places than any other news source.</p>
                <p>We stand for excellence in our journalism and our products.</p>
                <p>We are committed to serving you.</p>
                <p>We are MediaNet.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container">
                <h3>Leadership</h3>
                <hr>
                <h5><a href="/about">Sneha Bhagat</a></h5>
                <p>Founder</p>
                <h5><a href="/about">Kapil Yadav</a></h5>
                <p>TechFounder</p>
                <h5><a href="/about">Harshit Kudeshiya</a></h5>
                <p>TechFounder | Frontend Lead</p>
                <h5><a href="/about">Shubham Jaiswal</a></h5>
                <p>Director, Technology </p>
                <h5><a href="/about">Martha Duarte</a></h5>
                <p>Manager</p>

            </div>


        </div>

    </div>
</div>

<app-footer></app-footer>