.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 100px;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
  background-color: #23272b;
}

.cancel {
  margin-left: 20px;
  cursor: pointer;
}
.cancel :hover {
  background-color: #f44336;
}
