<app-header></app-header>


<div class="login-container">

  <div class="login-content shadow-lg p-3 mb-5 rounded">

    <div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>

    <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <!-- <label for="userId">User Id</label> -->
        <input type="text" class="form-control " placeholder="UserId" formControlName="userId"
          [ngClass]="{'is-invalid':submitted && (form.get('userId').invalid || form.get('userId').errors)}" required />
        <div class="invalid-feedback">
          <div>User Id is required</div>
        </div>
      </div>


      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
          [ngClass]="{'is-invalid': submitted && ( form.get('password').invalid || form.get('password').errors)}"
          required />
        <div class="invalid-feedback">
          <div>Password is required</div>

        </div>

      </div>

      <div class="form-group">
        <button class="btn btn-danger btn-sm">Login</button>
        <div class="btn btn-light btn-sm cancel" (click)=cancel()>Cancel</div>

      </div>

    </form>

  </div>
</div>



<app-footer></app-footer>