<app-header></app-header>

<h2>Latest News</h2>
<hr>

<div class="container">
    <div class="outlay">
        <h3>Beijing Tells Returnees to Stay Home; Smoking Risk: Virus Update</h3>
        <img class="imgsize" src="../assets/CoronaVirus.jpg">
        <p class="details">China answered some of the questions about a spike in coronavirus cases earlier this week,
            confirming that it was a one-off increase. U.S. Health and Human Services Secretary Alex Azar said American
            experts are waiting for final clearance to travel to China and help fight the outbreak.

            Health authorities in China told people returning to Beijing to stay home for two weeks of observation,
            according to a report by Beijing Daily. U.S. researchers published detailed new images of the virus.

            Fiat Chrysler plans to halt operations at an assembly plant in Serbia because of a lack of parts from China.
            Another cruise liner was turned away from port, this time in Vietnam. China said more than 1,700 medical
            workers had contracted the virus as of Feb. 11.

            Tracking the coronavirus in China has become more complicated after Hubei revised its method to diagnose
            cases. World Health Organization officials said that a surge in cases reported earlier this week involved
            older infections and didn’t represent a sudden surge.
            American experts are preparing to travel to China to investigate the outbreak and are waiting for final
            clearance from the Chinese government, Azar said on CNN. China said earlier that it welcomes U.S.
            participation in a joint mission with the World Health Organization, as it sought to fend off criticism over
            transparency.

            While the U.S. hopes the coronavirus will spread at a slower pace in warm weather, it’s preparing for that
            not being the case, he said, adding that the impact in the U.S. is very limited for now.</p>

    </div>
</div>
<hr>

<div class="container">
    <div class="outlay">
        <h3>Pulwama: Indian soldiers' families still waiting for justice</h3>
        <img class="imgsize" src="../assets/pulwama.jpg">
        <p class="details">Forty Indian soldiers died a year ago in one of the deadliest attacks on security forces in
            Indian-administered Kashmir. The suicide bomber drove a vehicle packed with explosives into a convoy of 78
            buses carrying Indian paramilitary police in Pulwama. A year later, the families of the soldiers are still
            looking for answers, BBC Hindi reports.

            The attack on the Central Reserve Police Force (CRPF) convoy took place at 15:15 local time (09:45 GMT) on a
            motorway that connects the cities of Srinagar and Jammu.

            With the blame swiftly moving to militants based in neighbouring Pakistan, the attack changed the tenor
            around the country's general election, for which campaigning was well under way. National security became
            the plank on which the poll was fought, and many say the attack contributed to Prime Minister Narendra
            Modi's brute majority.

            However, amid widespread national fury, several questions were raised after the attacks.

            For instance, why were civilian vehicles allowed on the highway at the same time the convoy was using it?
            How did intelligence agencies fail to send out any early warnings? Why were the soldiers not moved via
            aircraft? And why was such a large convoy part of what should have been a routine movement?

            The country's National Investigative Agency (NIA) is yet to file charges in the case. It says most of the
            suspects in the attack have been killed in gunfights with security forces. But it has not answered any of
            these questions, which the families of the soldiers are also continuing to ask.

            CRPF chief Anand Prakash Maheshwari has refused to comment on the investigation.</p>
    </div>

</div>
<hr>

<div class="container">
    <div class="outlay">
        <h3>During UN Debate, India Cautions Against Involvement of External Actors in Internal Conflicts of Countries
        </h3>
        <img class="imgsize" src="../assets/UN.jpg">
        <p class="details">United Nations: India has cautioned against the involvement of external actors in the
            internal or quasi-internal conflicts of states as they have become more frequent and entailed increased
            level of coercion.
            Speaking at the UN Security Council Open Debate on Peacebuilding and Sustaining Peace - Transitional Justice
            in conflict and post-conflict situations', India's Deputy Permanent Representative to the UN Ambassador K
            Nagaraj Naidu on Thursday said that transitional justice approaches emerged and developed following military
            dictatorships, apartheid, and post-Cold War theaters.
            "Transitional justice approaches emerged and developed following military dictatorships, apartheid, and
            post-Cold War theaters, when there was an increasing international consensus that transitional justice
            measures were needed to deal with past human rights abuses," Naidu said.
            "If transitional justice is conceived merely as a band-aid that can be applied to past harms during some
            unspecified and limited period of transition', without any suggestion that it is attached to some deeper
            change in the society, it is unlikely that these measures will have any transformational capacity, he said.
            Naidu cautioned against the involvement of external actors in the internal or quasi-internal conflicts of
            states.
            "The involvement of external actors in the internal or quasi-internal conflicts of states have not only
            become more frequent, but has also entailed increased levels of coercion, and state-building activities that
            are at odds with the traditional concepts of sovereignty," he said.
            He said effective transitional justice is not solely a question of whether there should be a domestic or
            international trial, or a truth commission versus an international trial, or a cultural alternative as
            opposed to a traditional trial. The question is: What is beneficial to the people whose lives have been
            disrupted or even destroyed by the perpetrators of violence?, he asked.
            Naidu noted that too often, the international community adopts a technocratic, one-size-fits-all approach
            that can be damaging.
            Transitional justice has become steeped in western liberalism, often appearing as distant and remote to
            those who actually need it most. Rebuilding social capital and livelihood systems is harder than restoring
            infrastructures and institutions.
            It involves redefining relationships, promoting public deliberation, creating a healthy civil society,
            facilitating the healing process, as well as making institutions both trustworthy and effectively trusted.
            UN High Commissioner for Human Rights Michelle Bachelet told the Security Council that for countries to move
            forward after conflict or mass atrocities, suffering must be acknowledged and justice served.
            We know that lasting peace is interlinked with justice, development and respect for human rights. We know
            that peace does not automatically break out when weapons fall silent and atrocity crimes cease," he said.
            "To be able to rebuild lives without fear of recurrence and for society to move forward, suffering needs to
            be acknowledged; confidence in State institutions restored; and justice done, she said, speaking from Geneva
            via teleconference," he added.</p>
    </div>

</div>
<hr>

<div class="container">
    <div class="outlay">
        <h3>Delhi Airport Starts Doorstep Baggage Pick-up and Drop Service for Terminal 3</h3>
        <img class="imgsize" src="../assets/IGI.jpg">
        <p class="details">New Delhi: The Indira Gandhi International Airport on Friday announced that it has started a
            doorstep baggage transfer facility for passengers flying to and from its Terminal 3.
            This service will also be extended to Terminal 1 and Terminal 2 of the airport, stated the press release by
            GMR group-led Delhi International Airport Limited (DIAL).
            "The service has been introduced (at Terminal 3) in collaboration with Bengaluru based 'CarterX'," it said.
            To avail the facility, a passenger can make a booking through CarterX website or app or counters at the
            airport for the baggage to be picked from their home in the National Capital Region (NCR).
            "Each bag thus booked is then secured in a separate tamper-resistant sealable bags, which are marked and
            bar-coded for easy identification. On arrival at the airport, passengers can collect their baggage at the
            departure forecourt area and proceed for check-in," the press release explained.
            Similarly, if luggage has to be sent from the airport, passengers can book the service online or at the
            baggage pick-up and drop counter, located in meeters and greeters area of Terminal 3.
            The baggage can be delivered from the airport to locations in Delhi/NCR region, Punjab, Haryana, Uttar
            Pradesh and Rajasthan, the press release noted.
            "All the baggage booked for pick-up and drop facility are insured by the service provider agency...Soon,
            this booking facility would be available through Delhi airport's website," it stated.
            Passengers availing this facility will have to provide the date of service for pick-up or delivery, flight
            details, delivery location, it added.
            "After payment of service fee, the baggage would be brought to arrival/departure area. The passenger can
            also track their baggage in transit on phone/tablet," the release stated.</p>
    </div>

</div>
<hr>





<div class="container">
    <div class="outlay">
        <h3>Toilet Paper Is the Hot New Currency in Singapore and Hong Kong</h3>
        <img class="imgsize" src="../assets/toilet paper.jpg">
        <p class="details">In the high-stakes world of gift giving in Asia’s financial hubs, Montblanc pens and leather
            folios are out -- toilet paper and surgical masks are most definitely in.
            As fears of the novel coronavirus (Covid-19) spread across the region, pharmacies and supermarkets in Hong
            Kong and Singapore are running out of basic supplies like toilet paper, paper towels, hand sanitizer and
            especially masks.
            That’s created an opportunity for financial service providers looking to wow clients and bolster
            relationships. The Singapore arm of online trading provider IG Group handed out care packs with 3M Co. N95
            face masks, digital thermometers and bottles of Dettol antiseptic.
            IG began distributing the gifts after Singapore raised the viral alert to orange -- a critical level. What
            started as an amusing idea from the company’s local management team quickly spiraled and now its staff and
            clients have been receiving the care packs in the office and via mail. The gift has proven timely with some
            banks across the central business district evacuating their offices and requiring employees to work from
            home.
            “It all started as a precaution for friends and family and then others started asking how to get the masks
            and other things,“ said Terence Tan, head of business development at IG Asia Pte. “So we thought: Why not
            get these things for our staff and clients?”
            He said the first packages for clients went out today and they’ll send out more packages as additional
            supplies come in.
            American Joel Werner runs a hedge fund, Solitude Capital Management in Hong Kong. On February 10, he bought
            the equivalent of 216 rolls of toilet paper on Amazon.com Inc. after his family tried in vain for days to
            find any in Hong Kong. The shipping alone cost $200 but he thinks it was worth it. He kept half of the
            bounty and plans to give the other half to friends and colleagues.</p>
    </div>

</div>
<hr>
<div class="container">
    <div class="outlay">
        <h3>With the 737 Max Grounded, Airbus Can’t Build Planes Fast Enough</h3>
        <img class="imgsize" src="../assets/airbus.jpg">
        <p class="details">For decades, Airbus SE and Boeing Co. have been fighting each other for orders. In 2017 and
            2018, Boeing delivered more aircraft, but after two fatal crashes in five months, its 737 Max was grounded
            last year, and it was forced to halt production and deliveries of the popular jet. With its rival in crisis,
            Airbus supplied 483 more planes than Boeing in 2019, the biggest margin in their 45-year battle. Airbus
            secured more than 700 net orders for narrowbody aircraft, while Boeing lost more deals than it won, ending
            the year down 51 narrowbody orders.

            While the company has been careful not to revel in Boeing’s misfortunes, they give Airbus the opportunity to
            reshape the narrowbody market for years. Industry consultant Mark Martin estimates that Airbus could one day
            deliver 60% to 65% of ­single-aisle planes (up from about 50% now), which are the most widely used type of
            aircraft and bring in the bulk of profits for both companies. “It has opened the door for Airbus to fill up
            the huge hole that the Max grounding has ­created,” Martin says.

            Buying a plane, however, isn’t like buying a smartphone or a car. Airbus and Boeing are in a duopoly,
            meaning alternatives are limited. Waiting lists for the most popular aircraft stretch out for years, so
            pulling out of a Max order means joining the end of a long Airbus line. Purchase agreements include upfront
            payments that would be lost in a cancellation, even during production delays, and airlines like to build
            fleets around one maker to streamline crew training and maintenance.</p>
    </div>

</div>
<hr>

<div class="container">
    <div class="outlay">
        <h3>Verizon CEO Hans Vestberg Talks About Melding 5G and the Cloud</h3>
        <img class="imgsize" src="../assets/verizon.png">
        <p class="details">Verizon Communications Inc.’s chief executive officer Hans Vestberg talks about partnerships
            with Disney, Apple, and Amazon, as well as the wonders of “edge computing” (think low latency—that is, quick
            response times) coming to the consumer marketplace.

            Are you seeing payoffs from the partnerships yet?
            Apple Music, definitely. Disney+ is still in its infancy, but we are happy with it.

            How about your edge-computing deal with Amazon Web Services? Will it fulfill the promise of swift
            connectivity between device and data?
            This is exciting. We are bringing their cloud service together with our 5G. Amazon couldn’t have done it by
            itself because it doesn’t have wireless. Verizon couldn’t have done it by itself because we don’t have cloud
            software. Today, a developer can click on our first 5G edge site in Chicago and start developing an
            application with low latency.

            What does that enable you to do?
            Autonomous cars. Real-time augmented reality and virtual reality. Artificial intelligence. All of that can
            come from edge computing. And we’re just seeing the start of it.

            How is the move from 4G to 5G different from 2G to 3G to 4G?
            5G was meant to be a wireless technology for industries. It was never thought that consumers would get the
            benefit. But phones are better every time we get a new generation. Twenty 5G phones are going to launch this
            year. If you have a 4G phone, you probably have 40 to 50 megabits per second. I get 2 gigabytes per second
            on my 5G phone.

            You still have some media properties such as Yahoo, HuffPost, and AOL.
            I can go to a customer and say, “Hey, I’m not only gonna sell you connectivity and 5G, I also have the
            advertising platform.” We’re happy with the assets. They’re coming from double-digit declines to very small
            declines.

            Interviews are edited for clarity and length. Listen to Bloomberg Businessweek With Carol Massar and Jason
            Kelly, weekdays from 2 p.m. to 5 p.m. ET on Bloomberg Radio.</p>
    </div>

</div>
<hr>

<div class="container">
    <div class="outlay">
        <h3>A Sexist Joke Cost Ken Fisher $4 Billion in Assets. He Still Runs $121 Billion</h3>
        <img class="imgsize" src="../assets/ken.jpeg">
        <p class="details">Ken Fisher ranks among the most successful money managers in America. But you can reach one
            of his main offices only by driving up a steep and curving country road in Northern California. A compound
            of simple wood-shingled buildings, it sits atop a peak with sweeping views of redwoods and Half Moon Bay.
            “Kings Mountain Country Store,” reads a weathered sign near the entrance, lined with moss-covered boulders.

            Speaking of the business he built, he says, “I had this vision, which was like a sort of preindustrial age
            family, like a farm.” His wife and children have all worked for the company, Fisher Investments, and the
            Fishers once lived at this Woodside, Calif., compound, where a statue of a bull fighting a bear adorns a
            back patio. Some of his former employees—referring to the way many are molded in the founder’s image, or
            Fisherized—have called his firm the cult on the hill.

            Large clients including Fidelity Investments and Goldman Sachs Group Inc., as well as some public pension
            funds, pulled nearly $4 billion from his company in a month. Then and now he says he made similar comments
            many times, and no one had complained. Still, he apologized, though he also repeatedly said his remarks were
            misinterpreted. “By saying those inappropriate things, I was demonstrating inappropriateness,” he says, in a
            two-hour interview, his first extended remarks since the crisis. “I said, ‘It would blow up in your face.
            You’d come off like a jerk.’ ” In his view, some big investors bolted only because of pressure from the
            press. “Literally we have people that have told us they wouldn’t fire us if it wasn’t for you people writing
            about this,” he says, his general counsel and an outside lawyer by his side.

            Fisher speaks in a gravelly, stentorian voice, like an anchorman’s. In fact you might have seen him
            commenting on financial news shows, in his boxy suit and a wide gold bull-and-bear power tie. Or maybe
            you’ve seen him in one of his ubiquitous ads or learned about him from the bulk-mail pitches he sends out on
            heavy embossed paper. Perhaps you’ve read one of his many books or his column that ran for years in Forbes.
            With help from the soaring bull market, his assets under management have more than quadrupled since 2009, to
            more than $121 billion at the end of December. He’s also gotten rich, with an estimated net worth of about
            $4 billion.</p>
    </div>

</div>
<hr>




<app-footer></app-footer>